<div class="row" *ngIf="isOpen">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">NAAC Details</h5>
                    <button type="submit" class="btn btn-danger  waves-effect waves-light" (click)="backToList()">
                        <i class="bx bx-arrow-back font-size-16 align-middle"></i>
                        Back</button>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <form [formGroup]="validationForm">
                        <input type="hidden" />
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="mb-3">
                                    <label for="choices-single-default" class="form-label">Select Criteria</label>
                                    <ng-select [items]="criteria" bindLabel="name" bindValue="name"
                                        placeholder="Select Criteria" (change)="onCriteriaChange($event)"
                                        [(ngModel)]="selectedCriteria" [ngModelOptions]="{standalone: true}">
                                        <ng-template ng-optgroup-tmp let-item="item">
                                            {{item.name}}
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="mb-3">
                                    <label for="choices-single-default" class="form-label">Select Key Indicator</label>
                                    <ng-select [items]="keyIndicator" bindLabel="keyno" bindValue="keyno"
                                        placeholder="Select Key Indicator" (change)="onKeyIndicatorChange($event)"
                                        [addTag]="addNewIndicator" [(ngModel)]="selectedKeyNo"
                                        [ngModelOptions]="{standalone: true}">
                                        <ng-template ng-optgroup-tmp let-item="item">
                                            {{item.keyno}}
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="form-group mb-3">
                                    <label>Parameter Name</label>
                                    <input type="text" class="form-control" id="paraname"
                                        placeholder="Enter Parameter Name" [(ngModel)]="NAACDetailsModel.paraname"
                                        formControlName="paraname"
                                        [ngClass]="{'is-invalid': f.paraname.touched && f.paraname.errors}">
                                    <div *ngIf="f.paraname.touched && f.paraname.errors" class="invalid-feedback">
                                        <span *ngIf="f.paraname.errors.required">This Field is
                                            required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6"
                                *ngIf="NAACDetailsModel.paralink!='' && NAACDetailsModel.paralink!=undefined && NAACDetailsModel.paralink!=null">
                                <div class="form-group mb-3">
                                    <label>View Uploaded Parameter Link</label>
                                    <a href="http://localhost:9000{{NAACDetailsModel.paralink}}"
                                        target="_blank">
                                        <img src="assets/images/pdf.png" alt="pdf" class="img-thumbnail"
                                            style="height: 50%;width: 50%;"></a>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="form-group mb-3">
                                    <label>Parameter PDF Uploader (Optional)</label>
                                    <input class="form-control mb-2" type="file" id="formFile"
                                        (change)="uploadParameterPdfFile($event)">
                                    <ngb-progressbar [value]="progressValue" [type]="progressType"
                                        *ngIf="isProgress"></ngb-progressbar>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="form-group mb-3">
                                    <label>Attachment Name</label>
                                    <input type="text" class="form-control" id="attachname"
                                        placeholder="Enter Attachment Name" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="NAACDetailsModel.attachname">
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6"
                                *ngIf="NAACDetailsModel.attachlink!='' && NAACDetailsModel.attachlink!=undefined && NAACDetailsModel.attachlink!=null">
                                <div class="form-group mb-3">
                                    <label>View Uploaded Attachment Link</label>
                                    <a href="http://localhost:9000{{NAACDetailsModel.attachlink}}"
                                        target="_blank">
                                        <img src="assets/images/pdf.png" alt="pdf" class="img-thumbnail"
                                            style="height: 50%;width: 50%;"></a>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="form-group mb-3">
                                    <label>Attachment PDF Uploader (Optional)</label>
                                    <input class="form-control mb-2" type="file" id="formFile"
                                        (change)="uploadAttachmentPdfFile($event)">
                                    <ngb-progressbar [value]="progressValue1" [type]="progressType1"
                                        *ngIf="isProgress1"></ngb-progressbar>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row justify-content-end">
                                <div class="col-lg-1 col-xl-1 col-md-1 col-sm-2 col-xs-12">
                                    <button type="submit" class="btn btn-primary" (click)="saveNAACDetails()"
                                        *ngIf="isUpdate==false">Submit</button>
                                    <button type="submit" class="btn btn-primary" (click)="updateNaacDetails()"
                                        *ngIf="isUpdate==true">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="!isOpen">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">NAAC Details List</h5>
                    <button type="button" class="btn btn-primary waves-effect btn-label waves-light"
                        (click)="openAddNAACDetails()"><i class="bx bx-user-plus label-icon"></i>
                        Add NAAC Details</button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="table-light">
                            <tr>
                                <th class="text-left">#</th>
                                <th class="text-center">Criteria</th>
                                <th class="text-center">Key No</th>
                                <th class="text-center">Parameter</th>
                                <th class="text-center">Parameter Link</th>
                                <th class="text-center">Attachment Name</th>
                                <th class="text-center">Attachment Link</th>
                                <th class="text-center">Created Date</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let s of paginateData;let i=index">
                                <td class="text-left">{{s.index}}</td>
                                <td class="text-center">{{s.criteria}} </td>
                                <td class="text-center">{{s.keyno}}</td>
                                <td class="text-center">{{s.paraname}}</td>
                                <td class="text-center" *ngIf="s.paralink!='undefined' && s.paralink!=''"><a
                                        href="http://localhost:9000{{s.paralink}}" target="_blank"><u>View
                                            More</u></a>
                                </td>
                                <td class="text-center" *ngIf="s.paralink=='' "><span class="badge bg-warning ms-1">Not
                                        Uploaded</span></td>
                                <td class="text-center" *ngIf="s.attachname=='undefined' || undefined"><span
                                        class="badge bg-warning ms-1"> - </span></td>
                                <td class="text-center" *ngIf="s.attachname!='undefined'">{{s.attachname}}</td>
                                <td class="text-center" *ngIf="s.attachlink!='undefined' && s.attachlink!='' "><a
                                        href="http://localhost:9000{{s.attachlink}}" target="_blank"><u>View
                                            More</u></a>
                                </td>
                                <td class="text-center" *ngIf="s.attachlink=='undefined' || s.attachlink=='' "><span
                                        class="badge bg-warning ms-1">Not Uploaded</span>
                                </td>

                                <td class="text-center">{{s.createddate |date}}</td>

                                <td class="text-end">
                                    <div class="d-flex flex-wrap gap-2">
                                        <button type="button" class="btn btn-soft-primary waves-effect waves-light"
                                            (click)="openNaacDetails(s)"><i
                                                class="bx bx-edit font-size-16"></i></button>
                                        <button type="button" class="btn btn-soft-danger waves-effect waves-light"
                                            (click)="removeNaacDetails(s.id)"><i
                                                class="bx bx-trash-alt font-size-16"></i></button>

                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mt-4">
                    <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page"
                        [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                        (pageChange)="getPagintaion();" aria-label="Default pagination"
                        class="d-flex justify-content-end pagination-rounded-flat pagination-success"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>