<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <div class="navbar-brand-box d-flex align-items-center" *ngIf="company">
                <a routerLink="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="assets/images/fostericon.png" alt="Foster" height="40">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/fosterlogo.png" alt="Foster" width="140">
                    </span>
                </a>
            </div>
            <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn"
                (click)="toggleMobileMenu($event)">
                <i class="fa fa-fw fa-bars"></i>
            </button>
        </div>

        <div class="d-flex">
            <div class="dropdown">
                <button type="button" class="btn header-item" id="mode-setting-btn">
                    <ng-container *ngIf="layoutMode == 'light'">
                        <i-feather name="moon" class="icon-lg" (click)="changeMode('dark')"></i-feather>
                    </ng-container>

                    <ng-container *ngIf="layoutMode == 'dark'">
                        <i-feather name="sun" class="icon-lg" (click)="changeMode('light')"></i-feather>
                    </ng-container>

                </button>
            </div>
            <div class="dropdown d-inline-block" ngbDropdown *ngIf="company">
                <button type="button" class="btn btn-primary position-relative mt-3 me-1"
                    (click)="getTokenByEmployee(true)" id="page-header-notifications-dropdown" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                    Notifications <span class="badge bg-danger ms-1">{{notification}}</span>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                    aria-labelledby="page-header-notifications-dropdown" ngbDropdownMenu>
                    <div class="p-3">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="m-0"> {{ 'HEADER.NOTIFICATIONS.TITLE' | translate}} </h6>
                            </div>
                        </div>
                    </div>
                    <ngx-simplebar style="max-height: 230px;">
                        <a href="javascript:void(0);" class="text-reset notification-item" *ngFor="let t of tokenData">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <img src="assets/images/users/token.png" class="rounded-circle avatar-sm"
                                        alt="Client-Logo">
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-1">{{t.clientname}}</h6>
                                    <div class="font-size-13 text-muted">
                                        <p class="mb-1 text-truncate">{{t.title}}</p>
                                        <p class="mb-0"><i class="mdi mdi-calendar-month"></i> <span>{{t.createddate
                                                |date}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="p-2 border-top d-grid" *ngIf="tokenData.length>0">
                            <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)"
                                (click)="clearAllNotification()">
                                <i class="mdi mdi-notification-clear-all me-1"></i> <span>Clear All</span>
                            </a>
                        </div>
                        <a href="javascript:void(0);" class="text-reset notification-item"
                            *ngFor="let t of allTicketsData">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <img src="assets/images/users/help.png" class="rounded-circle avatar-sm"
                                        alt="Client-Logo">
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-1">{{t.empname}}</h6>
                                    <div class="font-size-13 text-muted">
                                        <p class="mb-1 text-truncate">{{t.title}}</p>
                                        <p class="mb-0"><i class="mdi mdi-calendar-month"></i> <span>{{t.createddate
                                                |date}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="p-2 border-top d-grid" *ngIf="allTicketsData.length>0">
                            <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)"
                                (click)="clearAllTicketNotification()">
                                <i class="mdi mdi-notification-clear-all me-1"></i> <span>Clear All</span>
                            </a>
                        </div>
                    </ngx-simplebar>
                </div>
            </div>


            <div class="dropdown" ngbDropdown>
                <button type="button" class="btn header-item bg-soft-light border-start border-end "
                    id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    ngbDropdownToggle>
                    <img class="rounded-circle header-profile-user" src="assets/images/users/keryar.jpg"
                        *ngIf="profile=='null' ||profile==null && company" alt="Header Avatar">
                    <img class="rounded-circle header-profile-user" src="https://api.cesociety.in{{ profile }}"
                        *ngIf="profile!='null' && profile!=null && company" alt="Header Avatar">
                    <span class="d-none d-xl-inline-block ms-1 fw-medium">{{adminName}}</span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                    <a class="dropdown-item" routerLink="/profile"><i
                            class="bx bx-user font-size-16 align-middle me-1"></i> Profile</a>
                    <a class="dropdown-item" href="javascript: void(0);" (click)="logout()"><i
                            class="mdi mdi-logout text-muted font-size-16 align-middle me-1"></i> <span
                            class="align-middle" key="t-logout">{{ 'MENUITEMS.AUTHENTICATION.LIST.LOGOUT' |
                            translate}}</span></a>
                </div>
            </div>
        </div>
    </div>
</header>