<!-- <app-request-tokens *ngIf="staffModel.role === 'Designer'"></app-request-tokens> -->
<div *ngIf="staffModel.role === 'companyAdmin' || companyRole == 'Manager'">
    <div class="row">
        <div class="col-xl-3 col-md-6" *ngIf="staffModel.role === 'companyAdmin'">
            <a routerLink="/employee">
                <div class="card card-h-100">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <span class="text-muted mb-3 lh-1 d-block text-truncate">Employee List</span>
                                <h4 class="mb-3">
                                    <span [countUp]="employeeList.length" class="counter-value"
                                        [options]="option"></span>
                                </h4>
                            </div>
                            <div class="col-6 text-center">
                                <img src="assets/images/icon-gif/employee.gif" alt="" class="rounded avatar-lg">
                            </div>
                        </div>
                        <div class="text-nowrap">
                            <span class="badge text-muted font-size-13"><i class="fa fa-arrow-right"
                                    aria-hidden="true"></i>
                                View More</span>
                        </div>

                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-md-6">
            <a routerLink="/request-tokens">
                <div class="card card-h-100">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <span class="text-muted mb-3 lh-1 d-block text-truncate">Complete Token</span>
                                <h4 class="mb-3">
                                    <span [countUp]="completedDatatotal.length" class="counter-value"
                                        [options]="option"></span>
                                </h4>
                            </div>

                            <div class="col-6 text-center">
                                <img src="assets/images/icon-gif/complete.gif" alt="" class="rounded avatar-lg">
                            </div>
                        </div>
                        <div class="text-nowrap">
                            <span class="badge text-muted font-size-13"><i class="fa fa-arrow-right"
                                    aria-hidden="true"></i>
                                View More</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-md-6">
            <a routerLink="/request-tokens">
                <div class="card card-h-100">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <span class="text-muted mb-3 lh-1 d-block text-truncate">Pending Token</span>
                                <h4 class="mb-3">
                                    <span [countUp]="pendingDatatotal.length" class="counter-value"
                                        [options]="option"></span>
                                </h4>
                            </div>

                            <div class="col-6 text-center">
                                <img src="assets/images/icon-gif/incomplete.gif" alt="" class="rounded avatar-lg">
                            </div>
                        </div>
                        <div class="text-nowrap">
                            <span class="badge text-muted font-size-13"><i class="fa fa-arrow-right"
                                    aria-hidden="true"></i>
                                View More</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-md-6" *ngIf="staffModel.role === 'companyAdmin'">
            <a routerLink="/clients">
                <div class="card card-h-100">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <span class="text-muted mb-3 lh-1 d-block text-truncate">Total Client</span>
                                <h4 class="mb-3">
                                    <span [countUp]="clientlist.length" class="counter-value" [options]="option"></span>
                                </h4>
                            </div>

                            <div class="col-6 text-center">
                                <img src="assets/images/icon-gif/client.gif" alt="" class="rounded avatar-lg">
                            </div>
                        </div>
                        <div class="text-nowrap">
                            <span class="badge text-muted font-size-13"><i class="fa fa-arrow-right"
                                    aria-hidden="true"></i>
                                View More</span>
                        </div>

                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-md-6" *ngIf="staffModel.role === 'companyAdmin'">
            <div class="card card-h-100">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <span class="mb-3 lh-1 d-block text-truncate ">CES Token
                                Complete</span>
                            <h4 class="mb-3">
                                <span [countUp]="cesCompleted" class="counter-value" [options]="option"></span>
                            </h4>
                        </div>

                        <div class="col-6 text-center">
                            <img src="assets/images/icon-gif/ces-complete.gif" alt="" class="rounded avatar-lg">
                        </div>
                    </div>
                    <div class="text-nowrap">
                        <span class="badge text-muted font-size-13"><i class="fa fa-arrow-right "
                                aria-hidden="true"></i>
                            View More</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6" *ngIf="staffModel.role === 'companyAdmin'">
            <div class="card card-h-100">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <span class="mb-3 lh-1 d-block text-truncate">CES Incomplete Token</span>
                            <h4 class="mb-3">
                                <span [countUp]="cesInCompleted" class="counter-value" [options]="option"></span>
                            </h4>
                        </div>

                        <div class="col-6 text-center">
                            <img src="assets/images/icon-gif/incomplete-ces.gif" alt="" class="rounded avatar-lg">
                        </div>
                    </div>
                    <div class="text-nowrap">
                        <span class="badge text-muted font-size-13"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                            View More</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xl-3 col-md-6">
            <a routerLink="/request-tokens">
                <div class="card card-h-100">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <span class="text-muted mb-3 lh-1 d-block text-truncate">Processing Token</span>
                                <h4 class="mb-3">
                                    <span [countUp]="processingDatatotal" class=" counter-value"
                                        [options]="option"></span>
                                </h4>
                            </div>

                            <div class="col-6 text-center">
                                <img src="assets/images/icon-gif/processing.gif" alt="" class="rounded avatar-lg">
                            </div>
                        </div>
                        <div class="text-nowrap">
                            <span class="badge text-muted font-size-13"><i class="fa fa-arrow-right"
                                    aria-hidden="true"></i>
                                View More</span>
                        </div>

                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-md-6">
            <a routerLink="/request-tokens">
                <div class="card card-h-100">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <span class="text-muted mb-3 lh-1 d-block text-truncate">Daily Work</span>
                                <h4 class="mb-2">
                                    <span [countUp]="totalPending +
                                totalCompleted" class="counter-value" [options]="option"></span>
                                </h4>
                                <span class="badge bg-danger-subtle text-danger mx-1">{{totalPending}}</span>
                                <span class="badge bg-success-subtle text-success">{{totalCompleted}}</span>
                                <span class="ms-1 text-muted font-size-13">Current Work</span>
                            </div>
                            <div class="col-6 text-center">
                                <img src="assets/images/icon-gif/daily.gif" alt="" class="rounded avatar-lg">
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-0">Token History</h4>
                    <apx-chart class="apex-charts" dir="ltr" [series]="donutChart.series" [chart]="donutChart.chart"
                        [labels]="donutChart.labels" [legend]="donutChart.legend" [colors]="donutChart.colors"
                        [responsive]="donutChart.responsive">
                    </apx-chart>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card card-h-100">
                <div class="card-body">
                    <h5 class="card-title me-2">Daily Client Status</h5>
                    <div class="d-flex justify-content-end mb-4">
                        <div class="row">
                            <div class="col-auto">
                                <input class="form-control" type="month" [(ngModel)]="selectedMonth"
                                    (change)="onMonthChange()" id="example-month-input">
                            </div>
                            <div class="col-auto">
                                <div class="multi_default">
                                    <ng-select class="large-select" [items]="clientlist" bindLabel="name"
                                        [(ngModel)]="SelectedClient" (ngModelChange)="getAllTokenCompanyStatus();"
                                        placeholder="Select Client Wise Data">
                                        <ng-template ng-optgroup-tmp let-item="item">
                                            {{item.name || 'Unnamed group'}}
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <apx-chart dir="ltr" class="apex-charts" [series]="dailyWorkOverview.series"
                                [chart]="dailyWorkOverview.chart" [legend]="dailyWorkOverview.legend"
                                [colors]="dailyWorkOverview.colors" [labels]="dailyWorkOverview.labels"
                                [stroke]="dailyWorkOverview.stroke" [plotOptions]="dailyWorkOverview.plotOptions"
                                [fill]="dailyWorkOverview.fill">
                            </apx-chart>
                        </div>
                        <div class="col-sm-6 align-self-center">
                            <div class="mt-4 mt-sm-0">
                                <p class="mb-3" ngbTooltip="Total Daily Work" placement="top"><span
                                        class="badge bg-info text-white font-size-16">{{ totalPending +
                                        totalCompleted}}</span> Total Daily Work
                                </p>

                                <div class="row g-0">
                                    <div class="col-6">
                                        <div>
                                            <p class="mb-2 text-muted text-uppercase font-size-13"
                                                ngbTooltip="Total Pending Work" placement="top"><span
                                                    class="badge bg-warning text-white font-size-13">{{totalPending}}</span>
                                                Total</p>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div>
                                            <p class="mb-2 text-muted text-uppercase font-size-13"
                                                ngbTooltip="Total Completed Work" placement="top"><span
                                                    class="badge bg-success text-white font-size-13">{{totalCompleted}}</span>
                                                Total</p>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div>
                                            <p class="mb-2 text-muted text-uppercase font-size-13"
                                                ngbTooltip="Pending Post" placement="top"><span
                                                    class="badge bg-warning text-white font-size-13">{{pendingPosts}}</span>
                                                Post</p>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div>
                                            <p class="mb-2 text-muted text-uppercase font-size-13"
                                                ngbTooltip="Completed Post" placement="top"><span
                                                    class="badge bg-success text-white font-size-13">{{completedPosts}}</span>
                                                Post</p>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div>
                                            <p class="mb-2 text-muted text-uppercase font-size-13"
                                                ngbTooltip="Pending Stories" placement="top"><span
                                                    class="badge bg-warning text-white font-size-13">{{pendingStories}}</span>
                                                Stories</p>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div>
                                            <p class="mb-2 text-muted text-uppercase font-size-13"
                                                ngbTooltip="Completed Stories" placement="top"><span
                                                    class="badge bg-success text-white font-size-13">{{completedStories}}</span>
                                                Stories</p>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div>
                                            <p class="mb-2 text-muted text-uppercase font-size-13"
                                                ngbTooltip="Pending Reel" placement="top"><span
                                                    class="badge bg-warning text-white font-size-13">{{pendingReels}}</span>
                                                Reel</p>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div>
                                            <p class="mb-2 text-muted text-uppercase font-size-13"
                                                ngbTooltip="Completed Reel" placement="top"><span
                                                    class="badge bg-success text-white font-size-13">{{completedReels}}</span>
                                                Reel</p>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div>
                                            <p class="mb-2 text-muted text-uppercase font-size-13"
                                                ngbTooltip="Pending Extra" placement="top"><span
                                                    class="badge bg-warning text-white font-size-13">{{pendingExtraToken}}</span>
                                                Extra</p>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div>
                                            <p class="mb-2 text-muted text-uppercase font-size-13"
                                                ngbTooltip="Completed Extra" placement="top"><span
                                                    class="badge bg-success text-white font-size-13">{{CompletedExtraToken}}</span>
                                                Extra</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="card">
                <!-- card body -->
                <div class="card-body">
                    <div class="d-flex flex-wrap align-items-center mb-4">
                        <h5 class="card-title me-2">Monthly Daily Work Overview</h5>
                        <div class="ms-auto">
                            <div>
                                <div class="col-auto">
                                    <input class="form-control" type="month" [(ngModel)]="selectedBarMonth"
                                        (change)="onMonthBarChange()" id="example-month-input">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-xl-8">
                            <div>
                                <apx-chart dir="ltr" class="apex-charts" [chart]="marketOverview.chart"
                                    [series]="marketOverview.series" [legend]="marketOverview.legend"
                                    [stroke]="marketOverview.stroke" [colors]="marketOverview.colors"
                                    [fill]="marketOverview.fill" [dataLabels]="marketOverview.dataLabels"
                                    [xaxis]="marketOverview.xaxis" [markers]="marketOverview.markers"
                                    [plotOptions]="marketOverview.plotOptions" [yaxis]="marketOverview.yaxis"
                                    [tooltip]="marketOverview.tooltip" [grid]="marketOverview.grid"
                                    [labels]="marketOverview.labels">
                                </apx-chart>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="p-4">
                                <div class="mt-0">
                                    <div class="d-flex align-items-center"
                                        *ngFor="let a of marketOverview.xaxis.categories,let i=index">
                                        <div class="avatar-sm m-auto">
                                            <span
                                                class="avatar-title rounded-circle bg-light-subtle text-body font-size-16">
                                                {{i+1}}
                                            </span>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <span class="font-size-16">{{a}}</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="mt-4 pt-2">
                                    <a href="" class="btn btn-primary w-100">See All Balances <i
                                            class="mdi mdi-arrow-right ms-1"></i></a>
                                </div> -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card -->
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-lg-0">
                <div class="card-header">
                    <h4 class="card-title mb-0">Todo List</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled fw-medium px-2">
                        <li *ngFor="let s of paginateData; let i = index" [ngClass]="s.category"
                            class="text-white p-1 mb-1"><a href="javascript: void(0);" class="d-block text-white"><span
                                    class="me-1 float-start text-white">{{ s.index}}</span> {{
                                s.title }}<span class="ms-1 float-end text-white">{{
                                    s.date | date:'dd/MM/yyyy' }}</span></a>
                        </li>
                    </ul>
                    <div class="row">
                        <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page"
                            [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                            (pageChange)="getPagintaion();" aria-label="Default pagination"
                            class="pagination-rounded-flat pagination-success"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="companyRole === 'Designer'">
    <div class="col-xl-3 col-md-6">
        <a routerLink="/request-tokens">
            <div class="card card-h-100">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <span class="text-muted mb-3 lh-1 d-block text-truncate">Completed Token</span>
                            <h4 class="mb-3">
                                <span [countUp]="empCompletedTokenNumber" class="counter-value"
                                    [options]="option"></span>
                            </h4>
                        </div>

                        <div class="col-6 text-center">
                            <img src="assets/images/icon-gif/complete.gif" alt="" class="rounded avatar-lg">
                        </div>
                    </div>
                    <div class="text-nowrap">
                        <span class="badge text-muted font-size-13"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                            View More</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6">
        <a routerLink="/request-tokens">
            <div class="card card-h-100">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <span class="text-muted mb-3 lh-1 d-block text-truncate">Processing Token</span>
                            <h4 class="mb-3">
                                <span [countUp]="empProcessingTokenNumber" class=" counter-value"
                                    [options]="option"></span>
                            </h4>
                        </div>

                        <div class="col-6 text-center">
                            <img src="assets/images/icon-gif/processing.gif" alt="" class="rounded avatar-lg">
                        </div>
                    </div>
                    <div class="text-nowrap">
                        <span class="badge text-muted font-size-13"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                            View More</span>
                    </div>

                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6">
        <a routerLink="/request-tokens">
            <div class="card card-h-100">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <span class="text-muted mb-3 lh-1 d-block text-truncate">Pending Token</span>
                            <h4 class="mb-3">
                                <span [countUp]="empPendingTokenNumber" class="counter-value" [options]="option"></span>
                            </h4>
                        </div>

                        <div class="col-6 text-center">
                            <img src="assets/images/icon-gif/incomplete.gif" alt="" class="rounded avatar-lg">
                        </div>
                    </div>
                    <div class="text-nowrap">
                        <span class="badge text-muted font-size-13"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                            View More</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6">
        <a routerLink="/request-tokens">
            <div class="card card-h-100">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <span class="text-muted mb-3 lh-1 d-block text-truncate">Daily Work</span>
                            <h4 class="mb-2">
                                <span [countUp]="forEmpTotalTask" class="counter-value" [options]="option"></span>
                            </h4>
                            <span class="badge bg-danger-subtle text-danger mx-1">{{forEmpTotalPending}}</span>
                            <span class="badge bg-success-subtle text-success">{{forEmpTotalCompleted}}</span>
                            <span class="ms-1 text-muted font-size-13">Current Work</span>
                        </div>
                        <div class="col-6 text-center">
                            <img src="assets/images/icon-gif/daily.gif" alt="" class="rounded avatar-lg">
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-6">
        <div class="card card-h-100">
            <!-- <div class="card-header">
                <div class="d-flex justify-content-between gap-2">
                    <h5 class="card-title">Monthly Client Wise Details</h5>
                    <div>
                        <input class="form-control" type="month" [(ngModel)]="selectedMonth" (change)="onMonthChange()"
                            id="example-month-input">
                    </div>
                </div>
            </div> -->
            <div class="card-body">
                <h5 class="card-title me-2">Daily Client Status</h5>
                <div class="d-flex justify-content-end mb-4">

                    <div class="row">
                        <div class="col-auto">
                            <input class="form-control" type="month" [(ngModel)]="selectedMonth"
                                (change)="onEmpMonthChange()" id="example-month-input">
                        </div>
                        <div class="col-auto">
                            <div class="multi_default">
                                <ng-select class="large-select" [items]="assignedClientsForEmployee" bindLabel="name"
                                    [(ngModel)]="SelectedEmpClient" (ngModelChange)="onSelectionChange($event)"
                                    placeholder="Select Client Wise Data">
                                    <ng-template ng-optgroup-tmp let-item="item">
                                        {{item.name || 'Unnamed group'}}
                                    </ng-template>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <apx-chart dir="ltr" class="apex-charts" [series]="dailyWorkOverview.series"
                            [chart]="dailyWorkOverview.chart" [legend]="dailyWorkOverview.legend"
                            [colors]="dailyWorkOverview.colors" [labels]="dailyWorkOverview.labels"
                            [stroke]="dailyWorkOverview.stroke" [plotOptions]="dailyWorkOverview.plotOptions"
                            [fill]="dailyWorkOverview.fill">
                        </apx-chart>
                    </div>
                    <div class="col-sm-6 align-self-center">
                        <div class="mt-4 mt-sm-0">
                            <p class="mb-3" ngbTooltip="Total Daily Work" placement="top"><span
                                    class="badge bg-info text-white font-size-16">{{ forEmpTotalPending +
                                    forEmpTotalCompleted}}</span> Total Daily Work
                            </p>

                            <div class="row g-0">
                                <div class="col-6">
                                    <div>
                                        <p class="mb-2 text-muted text-uppercase font-size-13"
                                            ngbTooltip="Total Pending Work" placement="top"><span
                                                class="badge bg-warning text-white font-size-13">{{forEmpTotalPending}}</span>
                                            Total</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div>
                                        <p class="mb-2 text-muted text-uppercase font-size-13"
                                            ngbTooltip="Total Completed Work" placement="top"><span
                                                class="badge bg-success text-white font-size-13">{{forEmpTotalCompleted}}</span>
                                            Total</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div>
                                        <p class="mb-2 text-muted text-uppercase font-size-13" ngbTooltip="Pending Post"
                                            placement="top"><span
                                                class="badge bg-warning text-white font-size-13">{{forEmpPendingPost}}</span>
                                            Post</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div>
                                        <p class="mb-2 text-muted text-uppercase font-size-13"
                                            ngbTooltip="Completed Post" placement="top"><span
                                                class="badge bg-success text-white font-size-13">{{forEmpCompletedStories}}</span>
                                            Post</p>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div>
                                        <p class="mb-2 text-muted text-uppercase font-size-13"
                                            ngbTooltip="Pending Stories" placement="top"><span
                                                class="badge bg-warning text-white font-size-13">{{forEmpPendingStories}}</span>
                                            Stories</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div>
                                        <p class="mb-2 text-muted text-uppercase font-size-13"
                                            ngbTooltip="Completed Stories" placement="top"><span
                                                class="badge bg-success text-white font-size-13">{{forEmpCompletedStories}}</span>
                                            Stories</p>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div>
                                        <p class="mb-2 text-muted text-uppercase font-size-13" ngbTooltip="Pending Reel"
                                            placement="top"><span
                                                class="badge bg-warning text-white font-size-13">{{forEmpPendingReels}}</span>
                                            Reel</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div>
                                        <p class="mb-2 text-muted text-uppercase font-size-13"
                                            ngbTooltip="Completed Reel" placement="top"><span
                                                class="badge bg-success text-white font-size-13">{{forEmpCompletedReels}}</span>
                                            Reel</p>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div>
                                        <p class="mb-2 text-muted text-uppercase font-size-13"
                                            ngbTooltip="Pending Extra" placement="top"><span
                                                class="badge bg-warning text-white font-size-13">{{forEmpExtraPending}}</span>
                                            Extra</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div>
                                        <p class="mb-2 text-muted text-uppercase font-size-13"
                                            ngbTooltip="Completed Extra" placement="top"><span
                                                class="badge bg-success text-white font-size-13">{{forEmpExtraCompleted}}</span>
                                            Extra</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card mb-lg-0">
            <div class="card-header">
                <h4 class="card-title mb-0">Todo List</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled fw-medium px-2">
                    <li *ngFor="let s of paginateData; let i = index" [ngClass]="s.category"
                        class="text-white p-1 mb-1"><a href="javascript: void(0);" class="d-block text-white"><span
                                class="me-1 float-start text-white">{{ s.index}}</span> {{
                            s.title }}<span class="ms-1 float-end text-white">{{
                                s.date | date:'dd/MM/yyyy' }}</span></a>
                    </li>
                </ul>
                <div class="row">
                    <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page"
                        [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                        (pageChange)="getPagintaion();" aria-label="Default pagination"
                        class="pagination-rounded-flat pagination-success"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>