
.custom-card-height {
    height: 95%; /* Adjust the height as needed */
}
.avatar-lg {
    height: 5rem;
    width: 5rem;
}
.scrollable-table {
    max-height: 360px; /* Adjust the height as needed */
    overflow-y: auto;
  }
