<!-- start page title -->
<app-pagetitle title="Calendar" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<!-- calendar -->
<div class="row">
    <div class="col-lg-3">
        <div class="card mb-lg-0">
            <div class="card-body">
                <h3 class="text-center font-weight-bold">Employee List</h3>
                <hr>
                <div class="table-responsive scrollable-table">
                    <table class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let s of employeeList; let i = index">
                                <td class="text-center">{{ i + 1 }}</td>
                                <td class="text-center">{{ s.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="card mb-lg-0">
            <div class="card-body app-calendar">
                <full-calendar [options]="calendarOptions"></full-calendar>
            </div>
        </div>

        <!-- Add New Event MODAL -->
        <ng-template #modalShow let-modal>
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Employee List</h5>
                <button type="button" class="btn-close" (click)="closeEventModal()"></button>
            </div>
            <div class="modal-body p-4">
                <form>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0"
                                *ngIf="staffModel.role === 'companyAdmin' || staffModel.role === 'Manager'">
                                <thead class="table-light">
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Employee List</th>
                                        <th class="text-center">Present</th>
                                        <th class="text-center">Work From Home</th>
                                        <th class="text-center">Leave</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of employeeList; let i = index">
                                        <td class="text-center">{{i+1}}</td>
                                        <td class="text-center">{{ s.name }}</td>
                                        <td>
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" type="radio" name="formRadios{{i}}"
                                                    id="formRadios1{{i}}" (change)="radioSelected(s.id, 'Present')">
                                            </div>
                                        </td>
                                        <td class="d-flex justify-content-center align-items-center">
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" type="radio" name="formRadios{{i}}"
                                                    id="formRadios2{{i}}"
                                                    (change)="radioSelected(s.id, 'Work From Home')">
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" type="radio" name="formRadios{{i}}"
                                                    id="formRadios3{{i}}" (change)="radioSelected(s.id, 'Leave')">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="text-end mt-2">
                        <button type="button" class="btn btn-light me-1" (click)="closeEventModal()">Close</button>
                        <button type="submit" class="btn btn-success" id="btn-save-event"
                            (click)="saveAttendenceDetails()">
                            Save
                        </button>
                    </div>
                </form>
            </div>
            <!-- end modal dialog-->
        </ng-template>
        <!-- Edit event modal -->
        <ng-template #editmodalShow let-modal>
            <div class="modal-header">
                <h5 class="modal-title">Edit Event</h5>
                <button type="button" class="btn-close" aria-hidden="true"
                    (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body p-4">
                <form [formGroup]="formEditData">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Employee Name</th>
                                        <th class="text-center">Attendance Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of employeeList; let i = index">
                                        <td class="text-center">{{ i + 1 }}</td>
                                        <td class="text-center">{{ s.name }}</td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" [id]="'present' + i"
                                                    [name]="'attendanceStatus' + i" [value]="'Present'"
                                                    [checked]="s.attendanceStatus === 'Present'" />
                                                <label class="form-check-label" [for]="'present' + i">Present</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" [id]="'home' + i"
                                                    [name]="'attendanceStatus' + i" [value]="'Work From Home'"
                                                    [checked]="s.attendanceStatus === 'Work From Home'" />
                                                <label class="form-check-label" [for]="'home' + i">Work From
                                                    Home</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" [id]="'leave' + i"
                                                    [name]="'attendanceStatus' + i" [value]="'Leave'"
                                                    [checked]="s.attendanceStatus === 'Leave'" />
                                                <label class="form-check-label" [for]="'leave' + i">Leave</label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="text-end mt-2">
                        <button type="button" class="btn btn-light me-1" (click)="modal.dismiss('Close')">Close</button>
                        <button type="submit" class="btn btn-success" id="btn-save-event">Update</button>
                    </div>
                </form>
            </div>
        </ng-template>

        <!-- end modal-->
    </div>
</div>