.profile-img-wrap {
    height: 120px;
    position: absolute;
    width: 120px;
    background: #fff;
    overflow: hidden;
    img {
      width: 120px;
      height: 120px;
    }
  }
  .profile-basic {
    margin-left: 140px;
    .cal-icon {
      width: 100%;
    }
  }
  .fileupload.btn {
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgb(255, 255, 255);
    border-radius: 0;
    padding: 3px 10px;
    border: none;
  }
  .fileupload {
    input.upload {
      cursor: pointer;
      filter: alpha(opacity=0);
      font-size: 20px;
      margin: 0;
      opacity: 0;
      padding: 0;
      position: absolute;
      right: -3px;
      top: -3px;
      padding: 5px;
    }
  }
  .profile-view {
    .profile-img-wrap {
      height: 150px;
      width: 150px;
    }
    .profile-img {
      width: 150px;
      height: 150px;
      .avatar {
        font-size: 24px;
        height: 150px;
        line-height: 150px;
        margin: 0;
        width: 150px;
      }
    }
    .profile-basic {
      margin-left: 170px;
    }
  }
   .profile-view {
      .profile-basic {
        margin-left: 0;
      }
      .profile-img-wrap {
        margin: 0 auto 10px;
        height: 100px;
        width: 100px;
      }
      .profile-img {
        height: 100px;
        width: 100px;
        .avatar {
          font-size: 24px;
          height: 100px;
          line-height: 100px;
          margin: 0;
          width: 100px;
        }
      }
    }
    .profile-img-wrap {
      position: relative;
      margin: 0 auto;
    }
   .profile-img-wrap {
      position: relative;
      margin: 0 auto;
    }
  