<app-pagetitle title="Profile" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

<div class="row">
    <div class="col-xl-9 col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm order-2 order-sm-1">
                        <div class="d-flex align-items-start mt-3 mt-sm-0">
                            <div class="flex-shrink-0">
                                <div class="profile-img-wrap avatar-md me-4">
                                    <img class="inline-block" src="http://localhost:9000{{ staffModel.profile_image }}"
                                        alt="user">
                                    <div class="fileupload btn">
                                        <span class="btn-text">Edit</span>
                                        <input class="upload" type="file" [(ngModel)]="staffModel.profile_image"
                                            (change)="uploadFile($event)">
                                    </div>
                                </div>
                            </div>

                            <div class="flex-grow-1">
                                <div>
                                    <h5 class="font-size-16 mb-2">{{staffModel.name}}</h5>
                                    <p class="text-muted font-size-13">{{staffModel.role}}</p>
                                    <div
                                        class="d-flex flex-wrap align-items-start gap-2 gap-lg-3 text-muted font-size-13">
                                        <div><i
                                                class="bx bx-envelope me-1 text-success align-middle"></i>{{staffModel.email}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="font-size-14 mt-2 mb-1 text-danger ">*Profile picture must be 200px X 200px </p>
                    </div>
                    <!-- <div class="col-sm-auto order-1 order-sm-2">
                        <div class="d-flex align-items-start justify-content-end gap-2">
                            <div>
                                <button type="button" class="btn btn-soft-light"><i class="me-1"></i> Message</button>
                            </div>
                            <div>
                                <div class="dropdown" ngbDropdown>
                                    <button class="btn btn-link font-size-16 shadow-none text-muted dropdown-toggle"
                                        type="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                        <i class="bx bx-dots-horizontal-rounded"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                        <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-tabs-custom card-header-tabs border-top mt-4">
                    <li [ngbNavItem]="1" class="nav-item">
                        <a ngbNavLink class="nav-link px-3">
                            Change Password
                        </a>
                        <ng-template ngbNavContent>
                            <div class="tab-pane" id="about" role="tabpanel">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title mb-2">Change Password</h5>
                                        <div class="text-muted">
                                            <p class="mb-0">Your password must be at least 6 characters and
                                                should include a combination of numbers, letters and special
                                                characters.</p>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <form [formGroup]="unlockForm">
                                            <div class="mb-3">
                                                <label>Old Password </label>
                                                <input type="password" [(ngModel)]="passwordValue"
                                                    [ngModelOptions]="{standalone: true}" class="form-control"
                                                    id="olduserpassword" placeholder="Old Password"
                                                    (focusout)="onPasswordFocusOut()">
                                            </div>
                                            <div class="mb-3">
                                                <label>Password </label>
                                                <input type="password" formControlName="password"
                                                    [ngClass]="{ 'is-invalid': unlockSubmit && a.password.errors }"
                                                    class="form-control" id="userpassword" placeholder="Enter Password">
                                                <div *ngIf="unlockSubmit && a.password.errors" class="invalid-feedback">
                                                    <div *ngIf="a.password.errors.required">Password is required</div>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label>Retype password</label>
                                                <input type="password" formControlName="confirmpwd"
                                                    placeholder="Retype Password"
                                                    [ngClass]="{'is-invalid': unlockSubmit && a.confirmpwd.errors}"
                                                    class="form-control" />
                                                <div *ngIf="unlockSubmit && a.confirmpwd.errors"
                                                    class="invalid-feedback">
                                                    <span *ngIf="a.confirmpwd.errors.required">This value is
                                                        required.</span>
                                                    <span *ngIf="a.confirmpwd.errors.mustMatch">This value should be the
                                                        same.</span>
                                                </div>
                                            </div>
                                            <div class="text-end">
                                                <button class="btn btn-primary  waves-effect waves-light"
                                                    [disabled]="!valid" type="submit"
                                                    (click)="onResetSubmit()">Change</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2" class="nav-item">
                        <a ngbNavLink class="nav-link px-3">
                            Profile
                        </a>
                        <ng-template ngbNavContent>
                            <div class="tab-pane" id="about" role="tabpanel">
                                <div class="card">

                                    <div class="card-body">
                                        <div class="row">
                                            <input type="hidden" />
                                            <div class="col-12">
                                                <div class="form-group mb-3">
                                                    <label>Name</label>
                                                    <input type="text" class="form-control disabled-c" id="name"
                                                        [(ngModel)]="staffModel.name"
                                                        [ngModelOptions]="{standalone: true}" disabled>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group mb-3">
                                                    <label>Contact Number</label>
                                                    <input type="text" class="form-control disabled-c" id="contact"
                                                        [(ngModel)]="staffModel.contact"
                                                        [ngModelOptions]="{standalone: true}" disabled>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group mb-3">
                                                    <label>Email ID</label>
                                                    <input type="text" class="form-control disabled-c" id="email"
                                                        [(ngModel)]="staffModel.email"
                                                        [ngModelOptions]="{standalone: true}" disabled>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                </ul>

            </div>
        </div>
        <div [ngbNavOutlet]="nav" class=""></div>

    </div>
</div>