<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between gap-2">
            <h5 class="card-title">Monthly Client Wise Details</h5>
            <div>
                <input class="form-control" type="month" [(ngModel)]="selectedMonth" (change)="onMonthChange()"
                    id="example-month-input">
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xl-3 col-md-6" *ngFor="let c of clientWorkSummaryArray">
                <a (click)="extraLarge(exlargeModal,c)">
                    <div class="card card-h-100" ngbTooltip="{{c.clientname}}" placement="top">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <span class="text-muted mb-3 lh-1 d-block text-truncate">{{c.clientname}}</span>
                                    <h4 class="mb-2">
                                        <span [countUp]="c.totalWork" class="counter-value" [options]="option"></span>
                                    </h4>
                                    <span class="badge bg-danger-subtle text-danger mx-1 font-size-14 "
                                        ngbTooltip="Total Pending Work" placement="top">{{c.totalPending}}</span>
                                    <span class="badge bg-success-subtle text-success font-size-14"
                                        ngbTooltip="Total Completed Work" placement="top">{{c.totalCompleted}}</span>
                                </div>
                                <div class="col-6 text-center">
                                    <img src="https://api.cesociety.in{{c.logo}}" alt="logo" width="90" height="90"
                                        class="rounded">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<ng-template #exlargeModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Monthly Client Wise Details</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <app-monthly-scheduler [clientdata]="selectedClientData"></app-monthly-scheduler>
    </div>
</ng-template>