<div class="row">
    <div class="col-12">
        <!-- Left sidebar -->
        <div class="email-leftbar card">
            <button type="button" class="btn btn-primary 100 waves-effect waves-light" data-bs-toggle="modal"
                data-bs-target="#composemodal" (click)="open(content)">
                Generate Token
            </button>
            <div class="mail-list mt-4">
                <a href="javascript:void(0);" [class.active]="activeTab === 'dailyWork'"
                    (click)="setActiveTab('dailyWork')"><i class="mdi mdi-email-outline me-2"></i>Daily Work List<span
                        class="ms-1 float-end">{{dailyWorkData.length}}</span></a>
                <a href="javascript:void(0);" [class.active]="activeTab === 'allTokens'"
                    (click)="setActiveTab('allTokens')"><i class="mdi mdi-email-outline me-2"></i>All Tokens<span
                        class="ms-1 float-end">{{tokenData.length}}</span></a>
                <a href="javascript:void(0);" [class.active]="activeTab === 'pendingTokens'"
                    (click)="setActiveTab('pendingTokens')"><i class="mdi mdi-account-clock me-2"></i>Pending
                    Tokens<span class="ms-1 float-end">{{pendingData.length}}</span></a>
                <a href="javascript:void(0);" [class.active]="activeTab === 'processingTokens'"
                    (click)="setActiveTab('processingTokens')"><i class="mdi mdi-spin mdi-loading me-2"></i>Processing
                    Tokens<span class="ms-1 float-end">{{processingData.length}}</span></a>
                <a href="javascript:void(0);" [class.active]="activeTab === 'completedTokens'"
                    (click)="setActiveTab('completedTokens')"><i class="mdi mdi-check-all me-2"></i>Completed
                    Tokens<span class="ms-1 float-end">{{completedData.length}}</span></a>
                <a href="javascript:void(0);" [class.active]="activeTab === 'cancelTokens'"
                    (click)="setActiveTab('cancelTokens')"><i class="mdi mdi-trash-can-outline me-2"></i>Cancel
                    Tokens<span class="ms-1 float-end">{{cancelData.length}}</span></a>
            </div>
            <h6 class="mt-4">Labels</h6>

            <div class="mail-list mt-1">
                <a href="javascript:void(0);" [class.active]="activeTab === 'CES'" (click)="setActiveTab('CES')"><span
                        class="mdi mdi-arrow-right-drop-circle text-info float-end"></span><i
                        class="mdi mdi-school me-2"></i>CES</a>
                <a href="javascript:void(0);" [class.active]="activeTab === 'Urgent'"
                    (click)="setActiveTab('Urgent')"><span
                        class="mdi mdi-arrow-right-drop-circle text-danger float-end"></span><i
                        class="mdi mdi-alert-circle-check me-2"></i>Urgent</a>
            </div>

            <h6 class="mt-4">Clients List</h6>

            <div class="mt-2 client-list-container overflow-auto">
                <a href="javascript: void(0);" class="d-flex align-items-start" *ngFor="let c of clientList"
                    (click)="openClientWiseList(c.id)">
                    <img class="flex-shrink-0 me-3 rounded-circle" src="http://localhost:9000{{c.logo}}" alt="logo"
                        height="36">
                    <div class="flex-grow-1 chat-user-box">
                        <p class="user-title m-0">{{c.name}}</p>
                        <p class="text-muted">{{c.businesstype}}</p>
                    </div>
                </a>
            </div>

        </div>
        <!-- End Left sidebar -->

        <!-- Right Sidebar -->
        <div class="email-rightbar mb-3" *ngIf="!isMailOpen">
            <div class="card">
                <div class="row p-3" *ngIf="isDailyOpen">
                    <div class="d-flex justify-content-end gap-2">
                        <div class="btn-group me-2 mb-2 mb-sm-0" ngbDropdown>
                            <button type="button" class="btn btn-primary waves-light waves-effect dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                More <i class="mdi mdi-dots-vertical ms-2"></i>
                            </button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <a class="dropdown-item" href="javascript:void(0);" (click)="markAsCompleted(true)">Mark
                                    as Completed</a>
                                <a class="dropdown-item" href="javascript:void(0);"
                                    (click)="markAsCompleted(false)">Mark
                                    as Uncompleted</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="fname" placeholder="Search Client Name"
                                [(ngModel)]="searchClient" (input)="applySearchFilterOnClient()">
                        </div>
                        <div class="form-group">
                            <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                                [convertModelValue]="true" mode="range" placeholder="Select a date range"
                                [(ngModel)]="selectedWorkDateRange" (ngModelChange)="selectedDateRangeWorkData()">
                        </div>
                    </div>

                </div>
                <div class="row" *ngIf="!isDailyOpen">
                    <div class="d-flex justify-content-end p-3 gap-2" *ngIf="role!='Designer'">
                        <div class="form-group">
                            <input type="text" class="form-control" id="fname" placeholder="Search Employee Name"
                                [(ngModel)]="searchQuery" (input)="applySearchClient()">
                        </div>
                        <div class="form-group">
                            <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                                [convertModelValue]="true" mode="range" placeholder="Select a date range"
                                [(ngModel)]="selectedDateRange" (ngModelChange)="selectedDateRangeData()">
                        </div>
                    </div>
                    <div class="d-flex justify-content-end p-3 gap-2" *ngIf="role=='Designer'">
                        <div class="form-group">
                            <input type="text" class="form-control" id="fname" placeholder="Search Employee Name"
                                [(ngModel)]="searchDesignerQuery" (input)="applySearchDesignerClient()">
                        </div>
                        <div class="form-group">
                            <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                                [convertModelValue]="true" mode="range" placeholder="Select a date range"
                                [(ngModel)]="selectedDesignerDateRange"
                                (ngModelChange)="selectedDesignerDateRangeData()">
                        </div>
                    </div>
                </div>

                <ul class="message-list">
                    @for (e of paginateData | slice:0:20; track $index) {
                    <li class="unread" [ngClass]=" { 'unread' : e.unread==true }">
                        <div>
                            <div class="col-mail col-mail-1">
                                <div class="checkbox-wrapper-mail" *ngIf="!isDailyOpen">
                                    <input type="checkbox" id="chk-{{ $index}}" (change)="selectMail($event,e.id)" />
                                    <label for="chk-{{ $index}}"></label>
                                </div>
                                <div class="checkbox-wrapper-mail" *ngIf="isDailyOpen">
                                    <input type="checkbox" [(ngModel)]="e.iscompleted"
                                        (change)="changeStatusMail($event, e.id)" id="chk-{{ $index }}"
                                        [checked]="e.iscompleted" />
                                    <label for="chk-{{ $index }}"></label>
                                </div>
                                <!-- <div class="star-toggle">
                                    <label>{{e.index}}</label>
                                </div> -->
                                <div (click)="openTokenEmailDetails(e)">
                                    <a class="title">{{e.clientname}}</a>
                                    <span class="star-toggle mdi mdi-account-clock text-warning"
                                        *ngIf="e.status=='Pending'" ngbTooltip="Token Pending" placement="top"></span>
                                    <span class="star-toggle mdi mdi-spin mdi-loading text-primary"
                                        *ngIf="e.status=='Processing'" ngbTooltip="Token Processing"
                                        placement="top"></span>
                                    <span class="star-toggle mdi mdi-swap-horizontal-circle-outline text-warning"
                                        *ngIf="e.status=='Changes'" ngbTooltip="Token Changes" placement="top"></span>
                                    <span class="star-toggle mdi mdi-check-all text-success"
                                        *ngIf="e.status=='Completed'" ngbTooltip="Token Completed"
                                        placement="top"></span>
                                    <span class="star-toggle mdi mdi-trash-can-outline" *ngIf="e.status=='Cancel'"
                                        ngbTooltip="Token Cancel" placement="top"></span>

                                </div>
                            </div>
                            <div class="col-mail col-mail-2" (click)="openTokenEmailDetails(e)">
                                <a href="javascript:void(0);" class="subject">
                                    <span class="badge bg-danger me-2" *ngIf="e.label=='Urgent'">Urgent</span><span
                                        class="badge bg-info me-2" *ngIf="e.label=='CES'">CES</span>
                                    {{e.title}}
                                </a>
                                <td class="text-center managername" *ngIf="isDailyOpen">
                                    <span class="badge bg-primary me-1">{{ e.managername}}</span>
                                </td>
                                <td class="text-center designername" *ngIf="isDailyOpen">
                                    <span class="badge bg-primary me-1">{{ e.designername}}</span>
                                </td>
                                <td class="text-center managername" *ngIf="!isDailyOpen">
                                    <span class="badge bg-primary me-1" *ngFor="let m of e.assignedManagers">{{ m.name
                                        }}</span>
                                </td>
                                <td class="text-center designername"
                                    *ngIf="!isDailyOpen && e.assignedDesigners && e.assignedDesigners.length > 0">
                                    <span *ngFor="let d of e.assignedDesigners; let i = index">
                                        <span *ngIf="i < 1" class="badge bg-primary me-1"
                                            [ngbTooltip]="formatSelectedMedia(e.assignedDesigners)">{{ d.name
                                            }}</span>
                                        <span *ngIf="i === 1 && e.assignedDesigners.length > 1"
                                            class="badge bg-secondary me-1"
                                            [ngbTooltip]="formatSelectedMedia(e.assignedDesigners)">{{
                                            e.assignedDesigners.length - 1 }}+more</span>
                                        <!-- <span *ngIf="i > 1" class="d-none" [ngbTooltip]="d.name"></span> -->
                                    </span>
                                </td>
                                <div class="date1" *ngIf="!isDailyOpen  && isValidDate(e.updateddate)"
                                    [ngbTooltip]="e.updateddate | date: 'MMM d, y, h:mm:ss a'">
                                    {{e.updateddate | date: 'MMM d, h:mm a'}}
                                </div>
                                <div class="date" *ngIf="!isDailyOpen"
                                    [ngbTooltip]="e.createddate | date: 'MMM d, y, h:mm:ss a'">{{e.createddate | date:
                                    'MMM d'}}</div>
                                <div class="date1" *ngIf="isDailyOpen  && isValidDate(e.completeddate)"
                                    [ngbTooltip]="e.completeddate | date: 'MMM d, y, h:mm:ss a'">
                                    {{e.completeddate | date: 'MMM d, h:mm a'}}
                                </div>
                                <div class="date" *ngIf="isDailyOpen"
                                    [ngbTooltip]="e.date | date: 'MMM d, y, h:mm:ss a'">{{e.date | date:
                                    'MMM d'}}</div>
                            </div>
                        </div>
                    </li>}
                </ul>

            </div> <!-- card -->
            <div class="row">
                <div class="col-7">
                    <!-- Showing {{startIndex}} - {{endIndex}} of {{totalRecords}} -->
                </div>
                <div class="col-5">
                    <div class="btn-group float-end">
                        <ngb-pagination [collectionSize]="totalRecords" [pageSize]="pageSize" [(page)]="page"
                            [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                            (pageChange)="getPagintaion();" aria-label="Default pagination"
                            class="d-flex justify-content-end pagination-rounded-flat pagination-primbg-primary "></ngb-pagination>
                    </div>
                </div>
            </div>
        </div> <!-- end Col-9 -->
        <div class="email-rightbar mb-3" *ngIf="isMailOpen">

            <div class="card">
                <div class="btn-toolbar p-3" role="toolbar">
                    <div class="btn-group me-2 mb-2 mb-sm-0">
                        <button type="button" class="btn btn-danger waves-light waves-effect" (click)="backToToken()"><i
                                class="fa fa-arrow-left"></i></button>
                    </div>
                    <div class="btn-group me-2 mb-2 mb-sm-0" *ngIf="!isDailyOpen">
                        <button type="button" class="btn btn-primary waves-light waves-effect me-2"
                            [disabled]="openTokenData.status!='Pending'"
                            [ngClass]="{'btn-success':  openTokenData.status == 'Pending'}"
                            (click)="changeStatusById(openTokenData.id,'Pending')" ngbTooltip="Token Pending "><i
                                class="mdi mdi-account-clock"></i></button>
                        <button type="button" class="btn btn-primary waves-light waves-effect me-2"
                            [ngClass]="{'btn-success':  openTokenData.status == 'Processing'}"
                            (click)="changeStatusById(openTokenData.id,'Processing')" ngbTooltip="Token Processing "><i
                                class="mdi mdi-spin mdi-loading "></i></button>
                        <button type="button" class="btn btn-primary waves-light waves-effect me-2"
                            *ngIf="comapanyRole !== 'Designer'"
                            [ngClass]="{'btn-success':  openTokenData.status == 'Completed'}"
                            (click)="changeStatusById(openTokenData.id,'Completed')" ngbTooltip="Token Complated                     
                            "><i class="mdi mdi-check-all"></i></button>
                        <button type="button" class="btn btn-primary waves-light waves-effect me-2"
                            [ngClass]="{'btn-success':  openTokenData.status == 'Cancel'}"
                            *ngIf="comapanyRole !== 'Designer'"
                            (click)="changeStatusByIdAndDelete(openTokenData.id,'Cancel')" ngbTooltip="Token Cancel"><i
                                class="mdi mdi-trash-can-outline" (click)="deleteToken()"></i></button>
                    </div>
                </div>

                <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                        <div class="flex-shrink-0 me-3">
                            <td class="text-center">
                                <img src="http://localhost:9000{{openTokenData.clientlogo}}" alt=""
                                    class="rounded-circle avatar-sm">
                            </td>
                        </div>
                        <div class="flex-grow-1">
                            <h5 class="font-size-14 mb-1">{{openTokenData.clientname}}</h5>
                            <td class="text-center">
                                <span class="me-1">Manager: </span>
                                <span class="badge bg-primary me-1" *ngFor="let m of openTokenData.assignedManagers">{{
                                    m.name
                                    }}</span>
                            </td>
                            <span class="me-1">Designers:</span>
                            <span class="badge bg-primary me-1" *ngFor="let m of openTokenData.assignedDesigners">{{
                                m.name
                                }}</span>
                        </div>
                    </div>

                    <h4 class="font-size-16 mb-4">{{openTokenData.title}}</h4>
                    <div class="mt-4" [innerHtml]='openTokenData.description' [class.table-inside-accordion]="true">
                    </div>
                    <hr />

                    <div class="row">
                        <div class="col-xl-2 col-6"
                            *ngIf="openTokenData.image!=undefined && openTokenData.image!='undefined'">
                            <div class="card">
                                <img class="card-img-top img-fluid" [src]="'http://localhost:9000' +openTokenData.image"
                                    alt="Token Image">
                                <div class="py-2 text-center">
                                    <a href="javascript:void(0);"
                                        (click)="downloadImage('http://localhost:9000' +openTokenData.image)"
                                        class="fw-medium">Download</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-6" *ngFor="let s of multiTokenImgData;let i=index">
                            <div class="card">
                                <img class="card-img-top img-fluid" [src]="'http://localhost:9000' + s.image"
                                    alt="Token Image">
                                <div class="py-2 text-center">
                                    <a href="javascript:void(0);"
                                        (click)="downloadImage('http://localhost:9000' + s.image)"
                                        class="fw-medium">Download</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End row -->