<!-- start page title -->
<app-pagetitle title="Generate Tokens" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->
<div class="row">
    <div class="col-lg-12">

        <div class="row">
            <div class="col-lg-3">
                <div class="p-3 card">
                    <button type="button" class="btn btn-primary 100 waves-effect waves-light" data-bs-toggle="modal"
                        data-bs-target="#composemodal" (click)="open(content)">
                        Generate Token
                    </button>
                    <div class="mail-list mt-4">
                        <a href="javascript:void(0);" [class.active]="activeTab === 'dailyWork'"
                            (click)="setActiveTab('dailyWork')"><i class="mdi mdi-email-outline me-2"></i>Daily
                            Work List<span class="ms-1 float-end">{{dailyWorkData.length}}</span></a>
                        <a href="javascript:void(0);" [class.active]="activeTab === 'allTokens'"
                            (click)="setActiveTab('allTokens')"><i class="mdi mdi-email-outline me-2"></i>All
                            Tokens<span class="ms-1 float-end">{{tokenData.length}}</span></a>
                        <a href="javascript:void(0);" [class.active]="activeTab === 'pendingTokens'"
                            (click)="setActiveTab('pendingTokens')"><i class="mdi mdi-account-clock me-2"></i>Pending
                            Tokens<span class="ms-1 float-end">{{pendingData.length}}</span></a>
                        <a href="javascript:void(0);" [class.active]="activeTab === 'processingTokens'"
                            (click)="setActiveTab('processingTokens')"><i
                                class="mdi mdi-spin mdi-loading me-2"></i>Processing
                            Tokens<span class="ms-1 float-end">{{processingData.length}}</span></a>
                        <a href="javascript:void(0);" [class.active]="activeTab === 'completedTokens'"
                            (click)="setActiveTab('completedTokens')"><i class="mdi mdi-check-all me-2"></i>Completed
                            Tokens<span class="ms-1 float-end">{{completedData.length}}</span></a>
                        <a href="javascript:void(0);" [class.active]="activeTab === 'cancelTokens'"
                            (click)="setActiveTab('cancelTokens')"><i class="mdi mdi-trash-can-outline me-2"></i>Cancel
                            Tokens<span class="ms-1 float-end">{{cancelData.length}}</span></a>
                    </div>
                    <h6 class="mt-4">Labels</h6>

                    <div class="mail-list mt-1">
                        <a href="javascript:void(0);" [class.active]="activeTab === 'CES'"
                            (click)="setActiveTab('CES')"><span
                                class="mdi mdi-arrow-right-drop-circle text-info float-end"></span><i
                                class="mdi mdi-school me-2"></i>CES</a>
                        <a href="javascript:void(0);" [class.active]="activeTab === 'Urgent'"
                            (click)="setActiveTab('Urgent')"><span
                                class="mdi mdi-arrow-right-drop-circle text-danger float-end"></span><i
                                class="mdi mdi-alert-circle-check me-2"></i>Urgent</a>
                    </div>

                    <h6 class="mt-4">Clients List</h6>

                    <div class="mt-2 client-list-container overflow-auto">
                        <a href="javascript: void(0);" class="d-flex align-items-start" *ngFor="let c of clientList"
                            (click)="openClientWiseList(c.id)">
                            <img class="flex-shrink-0 me-3 rounded-circle" src="http://localhost:9000{{c.logo}}"
                                alt="logo" height="36">
                            <div class="flex-grow-1 chat-user-box">
                                <p class="user-title m-0">{{c.name}}</p>
                                <p class="text-muted">{{c.businesstype}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 card" *ngIf="!isMailOpen">
                <div class="row p-3" *ngIf="isDailyOpen">
                    <div class="d-flex justify-content-end gap-2">

                        <div class="btn-group me-2 mb-2 mb-sm-0" ngbDropdown>
                            <button type="button" class="btn btn-primary waves-light waves-effect dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                More <i class="mdi mdi-dots-vertical ms-2"></i>
                            </button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <a class="dropdown-item" href="javascript:void(0);" (click)="markAsCompleted(true)">Mark
                                    as Completed</a>
                                <a class="dropdown-item" href="javascript:void(0);"
                                    (click)="markAsCompleted(false)">Mark
                                    as Uncompleted</a>
                            </div>
                        </div>
                        <div>
                            <input class="form-control" type="month" [(ngModel)]="selectedMonth"
                                (change)="onMonthChange()" id="example-month-input">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="fname" placeholder="Search Client Name"
                                [(ngModel)]="searchClient" (input)="applySearchFilterOnClient()">
                        </div>
                        <!-- <div class="form-group">
                            <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                                [convertModelValue]="true" mode="range" placeholder="Select a date range"
                                [(ngModel)]="selectedWorkDateRange" (ngModelChange)="selectedDateRangeWorkData()">
                        </div> -->
                    </div>
                </div>
                <div class="row" *ngIf="!isDailyOpen">
                    <div class="d-flex justify-content-end p-3 gap-2" *ngIf="role!='Designer'">
                        <div class="form-group">
                            <input type="text" class="form-control" id="fname" placeholder="Search Employee Name"
                                [(ngModel)]="searchQuery" (input)="applySearchClient()">
                        </div>
                        <div class="form-group">
                            <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                                [convertModelValue]="true" mode="range" placeholder="Select a date range"
                                [(ngModel)]="selectedDateRange" (ngModelChange)="selectedDateRangeData()">
                        </div>
                    </div>
                    <div class="d-flex justify-content-end p-3 gap-2" *ngIf="role=='Designer'">
                        <div class="form-group">
                            <input type="text" class="form-control" id="fname" placeholder="Search Employee Name"
                                [(ngModel)]="searchDesignerQuery" (input)="applySearchDesignerClient()">
                        </div>
                        <div class="form-group">
                            <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                                [convertModelValue]="true" mode="range" placeholder="Select a date range"
                                [(ngModel)]="selectedDesignerDateRange"
                                (ngModelChange)="selectedDesignerDateRangeData()">
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <tbody>
                            @for (e of paginateData | slice:0:20; track $index) {
                            <tr class="unread" [ngClass]=" { 'unread' : e.unread==true }">
                                <td class="text-left">{{e.index}}</td>
                                <td class="text-center">
                                    <!-- <span class="checkbox-wrapper-mail" *ngIf="!isDailyOpen">
                                        <input type="checkbox" id="chk-{{ $index}}" style="height: 18px;width: 18px;"
                                            (change)="selectMail($event,e.id)" />
                                        <label for="chk-{{ $index}}"></label>
                                    </span> -->
                                    <span class="checkbox-wrapper-mail" *ngIf="isDailyOpen">
                                        <input type="checkbox" [(ngModel)]="e.iscompleted"
                                            style="height: 18px;width: 18px;" (change)="changeStatusMail($event, e.id)"
                                            id="chk-{{ $index }}" [checked]="e.iscompleted" />
                                        <label for="chk-{{ $index }}"></label>
                                    </span>
                                </td>
                                <td class="text-center" (click)="openTokenEmailDetails(e)">
                                    <span class="star-toggle mdi mdi-account-clock text-warning"
                                        *ngIf="e.status=='Pending'" ngbTooltip="Token Pending" placement="top"></span>
                                    <span class="star-toggle mdi mdi-spin mdi-loading text-primary"
                                        *ngIf="e.status=='Processing'" ngbTooltip="Token Processing"
                                        placement="top"></span>
                                    <span class="star-toggle mdi mdi-swap-horizontal-circle-outline text-warning"
                                        *ngIf="e.status=='Changes'" ngbTooltip="Token Changes" placement="top"></span>
                                    <!-- --------------------------------------------------------------------- -->
                                    <span class="star-toggle mdi mdi-check-all text-success"
                                        *ngIf="e.status=='Completed'" ngbTooltip="Token Completed"
                                        placement="top"></span>
                                    <span class="star-toggle mdi mdi-trash-can-outline" *ngIf="e.status=='Cancel'"
                                        ngbTooltip="Token Cancel" placement="top"></span>
                                </td>
                                <td class="text-center" (click)="openTokenEmailDetails(e)">{{e.clientname}}
                                </td>
                                <td class="text-center" (click)="openTokenEmailDetails(e)">
                                    <a href="javascript:void(0);">
                                        <span class="badge bg-danger " *ngIf="e.label=='Urgent'">Urgent</span>
                                        <span class="badge bg-info" *ngIf="e.label=='CES'">CES</span>
                                    </a>
                                </td>
                                <td class="text-center" (click)="openTokenEmailDetails(e)">{{e.title}}</td>
                                <td class="text-center managername" *ngIf="isDailyOpen"
                                    (click)="openTokenEmailDetails(e)">
                                    <span class="badge bg-primary me-1">{{ e.managername}}</span>
                                </td>
                                <td class="text-center designername" *ngIf="isDailyOpen"
                                    (click)="openTokenEmailDetails(e)">
                                    <span class="badge bg-primary me-1">{{ e.designername}}</span>
                                </td>
                                <td class="text-center managername" *ngIf="!isDailyOpen"
                                    (click)="openTokenEmailDetails(e)">
                                    <span class="badge bg-primary me-1" *ngFor="let m of e.assignedManagers">{{
                                        m.name
                                        }}</span>
                                </td>
                                <td class="text-center designername"
                                    *ngIf="!isDailyOpen && e.assignedDesigners && e.assignedDesigners.length > 0"
                                    (click)="openTokenEmailDetails(e)">
                                    <span *ngFor="let d of e.assignedDesigners; let i = index">
                                        <span *ngIf="i < 1" class="badge bg-primary me-1"
                                            [ngbTooltip]="formatSelectedMedia(e.assignedDesigners)">{{ d.name
                                            }}</span>
                                        <span *ngIf="i === 1 && e.assignedDesigners.length > 1"
                                            class="badge bg-secondary me-1"
                                            [ngbTooltip]="formatSelectedMedia(e.assignedDesigners)">{{
                                            e.assignedDesigners.length - 1 }}+more</span>
                                    </span>
                                </td>
                                <td class="text-center" (click)="openTokenEmailDetails(e)">
                                    <span *ngIf="!isDailyOpen  && isValidDate(e.updateddate)"
                                        [ngbTooltip]="e.updateddate | date: 'MMM d, y, h:mm:ss a'">
                                        {{e.updateddate | date: 'MMM d, h:mm a'}}
                                    </span>
                                    <span *ngIf="isDailyOpen  && isValidDate(e.completeddate)"
                                        [ngbTooltip]="e.completeddate | date: 'MMM d, y, h:mm:ss a'">
                                        {{e.completeddate | date: 'MMM d, h:mm a'}}
                                    </span>
                                </td>
                                <td class="text-center" (click)="openTokenEmailDetails(e)">
                                    <span *ngIf="!isDailyOpen"
                                        [ngbTooltip]="e.createddate | date: 'MMM d, y, h:mm:ss a'">{{e.createddate
                                        |
                                        date:
                                        'MMM d'}}</span>
                                    <span *ngIf="isDailyOpen"
                                        [ngbTooltip]="e.date | date: 'MMM d, y, h:mm:ss a'">{{e.date | date:
                                        'MMM d'}}</span>
                                </td>
                            </tr>}
                        </tbody>
                    </table>
                </div>
                <div class="row mt-4">
                    <ngb-pagination [collectionSize]="totalRecords" [pageSize]="pageSize" [(page)]="page" [maxSize]="5"
                        [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="getPagintaion();"
                        aria-label="Default pagination"
                        class="d-flex justify-content-end pagination-rounded-flat pagination-primbg-primary "></ngb-pagination>
                </div>
            </div>
            <div class="col-lg-9 card" *ngIf="isMailOpen">
                <div class="btn-toolbar p-3" role="toolbar">
                    <div class="btn-group me-2 mb-2 mb-sm-0">
                        <button type="button" class="btn btn-danger waves-light waves-effect" (click)="backToToken()"><i
                                class="fa fa-arrow-left"></i></button>
                    </div>
                    <div class="btn-group me-2 mb-2 mb-sm-0" *ngIf="!isDailyOpen">
                        <button type="button" class="btn btn-primary waves-light waves-effect me-2"
                            [disabled]="openTokenData.status!='Pending'"
                            [ngClass]="{'btn-success':  openTokenData.status == 'Pending'}"
                            (click)="changeStatusById(openTokenData.id,'Pending')" ngbTooltip="Token Pending "><i
                                class="mdi mdi-account-clock"></i></button>
                        <button type="button" class="btn btn-primary waves-light waves-effect me-2"
                            [ngClass]="{'btn-success':  openTokenData.status == 'Processing'}"
                            (click)="changeStatusById(openTokenData.id,'Processing')" ngbTooltip="Token Processing "><i
                                class="mdi mdi-spin mdi-loading "></i></button>
                        <button type="button" class="btn btn-primary waves-light waves-effect me-2"
                            *ngIf="comapanyRole !== 'Designer'"
                            [ngClass]="{'btn-success':  openTokenData.status == 'Completed'}"
                            (click)="changeStatusById(openTokenData.id,'Completed')" ngbTooltip="Token Complated                     
                                "><i class="mdi mdi-check-all"></i></button>
                        <button type="button" class="btn btn-primary waves-light waves-effect me-2"
                            [ngClass]="{'btn-success':  openTokenData.status == 'Cancel'}"
                            *ngIf="comapanyRole !== 'Designer'"
                            (click)="changeStatusByIdAndDelete(openTokenData.id,'Cancel')" ngbTooltip="Token Cancel"><i
                                class="mdi mdi-trash-can-outline" (click)="deleteToken()"></i></button>
                    </div>
                </div>

                <div class="d-flex align-items-center mb-4">
                    <div class="flex-shrink-0 me-3">
                        <td class="text-center">
                            <img src="http://localhost:9000{{openTokenData.clientlogo}}" alt=""
                                class="rounded-circle avatar-sm">
                        </td>
                    </div>
                    <div class="flex-grow-1">
                        <h5 class="font-size-14 mb-1">{{openTokenData.clientname}}</h5>
                        <td class="text-center">
                            <span class="me-1">Manager: </span>
                            <span class="badge bg-primary me-1" *ngFor="let m of openTokenData.assignedManagers">{{
                                m.name
                                }}</span>
                        </td>
                        <span class="me-1">Designers:</span>
                        <span class="badge bg-primary me-1" *ngFor="let m of openTokenData.assignedDesigners">{{
                            m.name
                            }}</span>
                    </div>
                </div>

                <h4 class="font-size-16 mb-4">{{openTokenData.title}}</h4>
                <div class="mt-4" [innerHtml]='openTokenData.description' [class.table-inside-accordion]="true">
                </div>
                <hr />
                <div class="row">
                    <div class="col-xl-2 col-6"
                        *ngIf="openTokenData.image!=undefined && openTokenData.image!='undefined'">
                        <div class="card">
                            <img class="card-img-top img-fluid" [src]="'http://localhost:9000' +openTokenData.image"
                                alt="Token Image">
                            <div class="py-2 text-center">
                                <a href="javascript:void(0);"
                                    (click)="downloadImage('http://localhost:9000' +openTokenData.image)"
                                    class="fw-medium">Download</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-6" *ngFor="let s of multiTokenImgData;let i=index">
                        <div class="card">
                            <img class="card-img-top img-fluid" [src]="'http://localhost:9000' + s.image"
                                alt="Token Image">
                            <div class="py-2 text-center">
                                <a href="javascript:void(0);" (click)="downloadImage('http://localhost:9000' + s.image)"
                                    class="fw-medium">Download</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="composemodalTitle">Generate Token</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        </button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <form [formGroup]="validationForm">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="mb-3">
                                    <label for="choices-single-default" class="form-label font-size-13">Select
                                        Client</label>
                                    <ng-select [items]="clientList" bindLabel="name" formControlName="client"
                                        [(ngModel)]="tokenModel.client" placeholder="Select Client"
                                        (ngModelChange)="onClientChange($event)">
                                        <ng-template ng-optgroup-tmp let-item="item">
                                            {{item.country || 'Unnamed group'}}
                                        </ng-template>
                                    </ng-select>
                                    <div *ngIf="f.client.touched && f.client.errors" class="invalid-feedback">
                                        <span *ngIf="f.client.errors.required">This Field is
                                            required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="mb-3">
                                    <label for="choices-multiple-default" class="form-label font-size-13 ">Select
                                        Manager</label>
                                    <div class="multi_default">
                                        <ng-select [items]="managerList" [multiple]="true" bindLabel="name"
                                            [(ngModel)]="tokenModel.managers" formControlName="manager"
                                            placeholder="Select Manager">
                                            <ng-template ng-optgroup-tmp let-item="item">
                                                {{item.name || 'Unnamed group'}}
                                            </ng-template>
                                        </ng-select>
                                        <div *ngIf="f.manager.touched && f.manager.errors" class="invalid-feedback">
                                            <span *ngIf="f.manager.errors.required">This Field is
                                                required.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="mb-3">
                                    <label for="choices-multiple-default" class="form-label font-size-13 ">Select
                                        Designer</label>
                                    <div class="multi_default">
                                        <ng-select [items]="designerList" [multiple]="true" bindLabel="name"
                                            [(ngModel)]="tokenModel.designers" formControlName="designer"
                                            placeholder="Select Designer">
                                            <ng-template ng-optgroup-tmp let-item="item">
                                                {{item.name || 'Unnamed group'}}
                                            </ng-template>
                                        </ng-select>
                                        <div *ngIf="f.designer.touched && f.designer.errors" class="invalid-feedback">
                                            <span *ngIf="f.designer.errors.required">This Field is
                                                required.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="mb-3">
                                    <label for="choices-single-default" class="form-label font-size-13">Select
                                        Label</label>
                                    <ng-select [items]="labelList" bindLabel="name" formControlName="label"
                                        [(ngModel)]="tokenModel.label" placeholder="Select Label"
                                        (change)="onLabelChange($event)">
                                        <ng-template ng-optgroup-tmp let-item="item">
                                            {{item.country || 'Unnamed group'}}
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="mb-3">
                                    <label for="example-date-input" class="form-label">Delivery Date</label>
                                    <input class="form-control" type="date" placeholder="Select Delivery Date"
                                        formControlName="deliverydate"
                                        [ngClass]="{'is-invalid': f.deliverydate.touched && f.deliverydate.errors}"
                                        [(ngModel)]="tokenModel.deliverydate">
                                    <div *ngIf="f.deliverydate.touched && f.deliverydate.errors"
                                        class="invalid-feedback">
                                        <span *ngIf="f.deliverydate.errors.required">This Field is
                                            required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="mb-3">
                                    <label for="example-date-input" class="form-label">Created By</label>
                                    <input class="form-control disabled-c" type="text" disabled placeholder="Created By"
                                        [(ngModel)]="createdby" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group mb-3">
                                <label>Title</label>
                                <input type="text" class="form-control" placeholder="Enter Title"
                                    formControlName="title" [(ngModel)]="tokenModel.title"
                                    [ngClass]="{'is-invalid': f.title.touched && f.title.errors}">
                                <div *ngIf="f.title.touched && f.title.errors" class="invalid-feedback">
                                    <span *ngIf="f.title.errors.required">This Field is
                                        required.</span>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label>Description Details</label>
                                <ckeditor [editor]="Editor" data="" [(ngModel)]="tokenModel.description"
                                    formControlName="description"
                                    [ngClass]="{'is-invalid': f.description.touched && f.description.errors}">
                                </ckeditor>
                                <div *ngIf="f.description.touched && f.description.errors" class="invalid-feedback">
                                    <span *ngIf="f.description.errors.required">This Field is
                                        required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-4">
                                <div class="form-group mb-3">
                                    <label>Upload Image</label>
                                    <div class="avatar-upload">
                                        <div class="avatar-edit">
                                            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                                                (change)="uploadFile($event)" [(ngModel)]="tokenModel.image"
                                                [ngModelOptions]="{standalone: true}" />
                                        </div>
                                        <div class="avatar-preview">
                                            <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
                                            </div>
                                        </div>
                                        <div style="margin-top: 10px;">
                                            <button type="submit" class="btn btn-primary btn-sm btn-block"
                                                (click)="fileInput.click()">Upload
                                                Image</button>
                                            <button type="submit" class="btn btn-danger btn-sm btn-block"
                                                (click)="removeUploadedImage()">Remove
                                                Image</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-4" *ngFor="let i of addMultiImg; let ind=index">
                                <div class="form-group mb-3">
                                    <label>Upload Image</label>
                                    <div class="avatar-upload">
                                        <div class="avatar-edit">
                                            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg"
                                                #multiFileInput (change)="uploadMultiFile($event,ind)"
                                                [(ngModel)]="tokenModel.image" [ngModelOptions]="{standalone: true}" />
                                        </div>
                                        <div class="avatar-preview">
                                            <div id="imagePreview"
                                                [style.backgroundImage]="'url('+ i.multiImageUrl +')'">
                                            </div>
                                        </div>
                                        <div style="margin-top: 10px;">
                                            <button type="submit" class="btn btn-primary btn-sm btn-block"
                                                (click)="multiFileInput.click()">Upload
                                                Image</button>
                                            <button type="submit" class="btn btn-danger btn-sm btn-block"
                                                (click)="removeUploadedMultiImage(ind)">Remove
                                                Image</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="col-xl-1 col-lg-1 col-md-1 col-md-1 d-flex align-items-center justify-content-center">
                                <div class="form-group mb-3">
                                    <i class="bx bx-plus c-icon" (click)="addMultipleImage()"></i>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="validationForm.invalid"
            (click)="SaveTokendetails()">Submit <i class="fab fa-telegram-plane ms-1"></i></button>
    </div>
</ng-template>