<div class="row" *ngIf="isOpen==true">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">Enter Employee Details</h5>
                    <button type="submit" class="btn btn-danger  waves-effect waves-light" (click)="backToTable()">
                        <i class="bx bx-arrow-back font-size-16 align-middle"></i>
                        Back</button>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <form [formGroup]="validationForm">
                        <input type="hidden" />
                        <div class="row">
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Role</label>
                                    <select required class="form-control form-select" formControlName="role"
                                        [(ngModel)]="staffModel.role">
                                        <option value="" hidden>Select Role</option>
                                        <option *ngFor="let c of role" [value]="c.name">{{c.name}}</option>
                                    </select>
                                    <div *ngIf="f.role.touched && f.role.errors" class="invalid-feedback">
                                        <span *ngIf="f.role.errors.required">This field is
                                            required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label>Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter Name"
                                        formControlName="name"
                                        [ngClass]="{'is-invalid': f.name.touched && f.name.errors}"
                                        [(ngModel)]="staffModel.name">
                                    <div *ngIf="f.name.touched && f.name.errors" class="invalid-feedback">
                                        <span *ngIf="f.name.errors.required">This Field is
                                            required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label>Contact Number</label>
                                    <input type="number" formControlName="contact"
                                        [ngClass]="{ 'is-invalid': f.contact.touched && f.contact.errors }"
                                        [(ngModel)]="staffModel.contact" class="form-control" id="contact"
                                        placeholder="Enter Contact Number">
                                    <div *ngIf="f.contact.touched || f.contact.invalid || f.contact.pristine"
                                        class="invalid-feedback">
                                        <div *ngIf="f.contact.errors?.required">Mobile Number is
                                            required.</div>
                                        <div *ngIf="f.contact.errors?.pattern">Please, Enter 10 digit
                                            Mobile Number.</div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label>Email Address</label>
                                    <input type="text" formControlName="email"
                                        [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }"
                                        [(ngModel)]="staffModel.email" class="form-control" id="email"
                                        placeholder="Enter Email Address">
                                    <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.email">Email must be a valid email
                                            address</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label>Password</label>
                                    <input type="password" formControlName="password"
                                        [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }"
                                        [(ngModel)]="staffModel.password" class="form-control" id="password"
                                        placeholder="Enter password ">
                                    <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">password is required</div>
                                        <div *ngIf="f.password.errors.password">password must be a valid password
                                            address</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-md-6">
                                <div class="mb-3">
                                    <label for="example-date-input" class="form-label">Birthday Date</label>
                                    <input class="form-control" type="date" placeholder="Select Birthday Date"
                                        formControlName="birthday_date"
                                        [ngClass]="{'is-invalid': f.birthday_date.touched && f.birthday_date.errors}"
                                        [(ngModel)]="staffModel.birthday_date">
                                    <div *ngIf="f.birthday_date.touched && f.birthday_date.errors"
                                        class="invalid-feedback">
                                        <span *ngIf="f.birthday_date.errors.required">This Field is
                                            required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label>Upload Image</label>
                                    <p style="text-align: center;color: red;">
                                        Please Upload only 200 X 200px image.
                                    </p>
                                    <div class="avatar-upload">
                                        <div class="avatar-edit">
                                            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                                                (change)="uploadFile($event)" />
                                        </div>
                                        <div class="avatar-preview">
                                            <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
                                            </div>
                                        </div>
                                        <div style="margin-top: 10px;">
                                            <button type="submit" class="btn btn-primary btn-sm btn-block"
                                                (click)="fileInput.click()">Upload
                                                Image</button>
                                            <button type="submit" class="btn btn-danger btn-sm btn-block"
                                                (click)="removeUploadedImage()">Remove
                                                Image</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row justify-content-end">
                                <div class="col-lg-1 col-xl-1 col-md-1 col-sm-2 col-xs-12">
                                    <button type="submit" class="btn btn-primary" (click)="saveStaffDetails()"
                                        *ngIf="isUpdate==false" [disabled]="validationForm.invalid ">Submit</button>
                                    <button type="submit" class="btn btn-primary" (click)="updateStaffDetails()"
                                        *ngIf="isUpdate==true" [disabled]="validationForm.invalid">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="isOpen==false">
    <div class="col-lg-12">
        <div class="card">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Employee Details List</h5>
                    <div class="d-flex justify-content-end gap-2">
                        <div class="form-group">
                            <input type="text" class="form-control" id="fname" placeholder="Search Employee Name"
                                [(ngModel)]="searchQuery" (input)="applySearchFilter()">
                        </div>
                        <button type="button" class="btn btn-primary waves-effect btn-label waves-light"
                            (click)="openAddStaff()"><i class="bx bx-user-plus label-icon"></i>
                            Add New Employee</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <!-- *ngIf="staffModel.role == 'companyAdmin'" -->
                        <table class="table mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th class="text-left">#</th>
                                    <th class="text-center">Profile</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Contact</th>
                                    <th class="text-center">Email</th>
                                    <th class="text-center">Birthday</th>
                                    <th class="text-center">Role</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let s of paginateData;let i=index">

                                    <td class="text-left">{{s.index}}</td>
                                    <td class="text-center">
                                        <img src="https://api.cesociety.in{{s.profile_image}}" alt=""
                                            class="rounded-circle avatar-sm">
                                    </td>
                                    <td class="text-center">{{s.name}} </td>
                                    <td class="text-center">{{s.contact}} </td>
                                    <td class="text-center">{{s.email}} </td>
                                    <td class="text-center">{{s.birthday_date |date:'dd/MM/yyyy'}} </td>
                                    <td class="text-center">{{s.role}} </td>
                                    <td class="text-end d-flex justify-content-end gap-1">
                                        <span class="form-check form-switch form-switch-md" dir="ltr">
                                            <input type="checkbox" class="form-check-input" [checked]="!s.isactive"
                                                (change)="removeStaffDetails(s.id,s.isactive)">
                                        </span>
                                        <button type="button" class="btn btn-soft-primary waves-effect waves-light"
                                            (click)="openUpdateStaff(s)"><i
                                                class="bx bx-edit font-size-16 align-middle"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-4">
                    <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page"
                        [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                        (pageChange)="getPagintaion();" aria-label="Default pagination"
                        class="d-flex justify-content-end pagination-rounded-flat pagination-success"></ngb-pagination>
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>